@import "../misc/mixins";
#credito-hipotecario-main{
    margin: 0 0 50px 0;
    display: grid;
    grid-template-areas:   
    "... credito-hipotecario-main-section__formulario ..."
    "... credito-hipotecario-main-section__formulario ..."
    "... credito-hipotecario-main-section__formulario ...";
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    &-section__formulario{
        grid-area: credito-hipotecario-main-section__formulario;
    }
}