@import "../misc/mixins";
#cuenta-ahorro-main{
    margin: 0 0 50px 0;
    display: grid;
    grid-template-areas:   
    ". cuenta-ahorro-main-section__formulario ."
    ". cuenta-ahorro-main-section__formulario ."
    ". cuenta-ahorro-main-section__formulario .";
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    &-section__formulario{
        grid-area: cuenta-ahorro-main-section__formulario;
    }
}