@import "../misc/mixins";
#ingresa-aqui-main{
    margin: 0 0 50px 0;
    display: grid;
    grid-template-areas:   
    "... ingresa-aqui-main-section__formulario ..."
    "... ingresa-aqui-main-section__formulario ..."
    "... ingresa-ingresa-main-section__formulario ...";
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    &-section__formulario{
        grid-area: ingresa-aqui-main-section__formulario;
    }
}